@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  background: rgb(2, 115, 148);
}
.reveal section img {
      background: none;
}
section#welcome h1,
section#thanks h1 {
  text-transform: none;
  font-family: 'Pacifico', cursive !important;
}
section#welcome img {
  border: none;
  background: none;
  box-shadow: none;
}

section#platinum img,
section#gold img,
section#silver img,
section#bronze img {
  background: #FFF;
  padding: 1em;
}
